<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meme App</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
</head>
<body>
    <h1>Jordan Moment</h1>
    <form 
        hx-get="/meme" 
        hx-trigger="submit" 
        hx-target="#memeContainer"
        hx-validate
        >
        <input type="text" 
            id="memeInput" 
            name="subreddit" 
            required placeholder="Enter a subreddit">
        <button type="submit">Trashy</button>
    </form>

    <div id="memeContainer"></div>
</body>
</html>
