<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meme App</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
</head>
<body>
    <h1>Jordan Moment</h1>
    <input type="text" name="memeInput" 
        hx-get="/meme"
        hx-trigger="memeContainer"
        hx-target="#memeContainer"
        placeholder="Enter a subreddit"
    >
    <button 
        hx-get="/meme" 
        hx-trigger="click" 
        hx-target="#memeContainer">Trashy
    </button>

    <div id="memeContainer"></div>
</body>
</html>

